.carousel-item img {
    height: 300px; /* Set a specific height for the carousel images */
  }
  
  .card img {
    height: 150px; /* Set a specific height for the card images */
    object-fit: cover; /* Maintain aspect ratio */
  }

  /* Add this to your CSS file */
.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05); /* Slightly enlarge the card on hover */
}

  